#!/bin/bash
# config.cfg: configuration for borderlands-tools

### Script configuration

  # set this higher if you are experiencing issues with Borderlands starting
  sleep_seconds=2

### Playback

  # set this to the folder where the songs you want to record over are
  backtracks_directory="./backtracks/"

### Recording

  # By default borderlands-tools uses the text-based tools
  # jack.play and jack_capture for backtrack playback and recording. 
  # Set audacity to true to override this and use audacity for these instead.
  audacity=false

  # use meterbridge when recording with jack_capture
  meterbridge=true